## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Re]leasePublic/
x64/
x86/
bbin/
obj/
bin/

## Visual Studio 2022/2026 cache
.vs/

## Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store